.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #FDFDFD;
  padding-top: var(--safe-area-top, env(safe-area-inset-top, 0px));
}

.main-layout__content {
  flex: 1;
  padding-bottom: 94px;
}
