run = "npm run dev"
modules = ["nodejs-20", "postgresql-16"]
hidden = [
  ".config",
  "tsconfig.json",
  "tsconfig.node.json",
  "vite.config.js",
  ".gitignore",
]
entrypoint = "src/App.tsx"

[nix]
channel = "stable-24_05"
packages = ["imagemagick"]

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "vm"
build = ["bash", "-c", "npm install && npm run build"]
run = ["bash", "-c", "cd apps/backend && npm run start"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80


[agent]
expertMode = true
integrations = ["javascript_object_storage:2.0.0"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:frontend"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:backend"

[userenv]

[userenv.shared]
NICEPAY_CLIENT_KEY = "S2_51d9b926e7e4494cb805c76175c40f11"
NICEPAY_SECRET_KEY = "e17c4f4a97974ccbbeae23c2bceeba1d"
PRIVATE_OBJECT_DIR = "replit-objstore-8da8d982-0ae3-4bdd-bf1b-4113adb63209"
PUBLIC_OBJECT_SEARCH_PATHS = "replit-objstore-8da8d982-0ae3-4bdd-bf1b-4113adb63209"
SOCIAL_REDIRECT_BASE_URL = "https://ee7ea1ce-f859-4b8f-adbd-76e2e1129002-00-q53a4ukg6uhs.janeway.replit.dev"

[userenv.production]

[objectStorage]
defaultBucketID = "replit-objstore-8b208dd8-505c-4b83-97d0-c78d38fe6527"
