run = "npm run dev"
modules = ["nodejs-20", "postgresql-16"]
hidden = [
  ".config",
  "tsconfig.json",
  "tsconfig.node.json",
  "vite.config.js",
  ".gitignore",
]
entrypoint = "src/App.tsx"

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist"
run = ["npm", "run", "start"]

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80


[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend server"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:frontend"
waitForPort = 5000

[[workflows.workflow]]
name = "Backend server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev:backend"
waitForPort = 3001

[userenv]

[userenv.shared]
NICEPAY_CLIENT_KEY = "S2_51d9b926e7e4494cb805c76175c40f11"
NICEPAY_SECRET_KEY = "e17c4f4a97974ccbbeae23c2bceeba1d"
PRIVATE_OBJECT_DIR = "replit-objstore-8da8d982-0ae3-4bdd-bf1b-4113adb63209"
PUBLIC_OBJECT_SEARCH_PATHS = "replit-objstore-8da8d982-0ae3-4bdd-bf1b-4113adb63209"
