<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>봉선장</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>상품 문의 및 리뷰 작성 시 사진을 첨부하기 위해 사진 라이브러리 접근 권한이 필요합니다.</string>
	<key>NSCameraUsageDescription</key>
	<string>상품 문의 및 리뷰 작성 시 사진을 촬영하기 위해 카메라 접근 권한이 필요합니다.</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bongseongjang.app</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bongseonjang</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kftc-bankpay</string>
		<string>ispmobile</string>
		<string>shinhan-sr-ansimclick</string>
		<string>kb-acp</string>
		<string>kb-bankpay</string>
		<string>liivbank</string>
		<string>kbstar</string>
		<string>newliiv</string>
		<string>com.kbcard.cxh.appcard</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>lotteappcard</string>
		<string>lottesmartpay</string>
		<string>cloudpay</string>
		<string>nhappcardansimclick</string>
		<string>nhallonepayansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>nhallonepayhansimclick</string>
		<string>citimobileapp</string>
		<string>ciaborncardansimclick</string>
		<string>mpocket.online.ansimclick</string>
		<string>wooripay</string>
		<string>com.wooricard.wcard</string>
		<string>newsmartpib</string>
		<string>supertoss</string>
		<string>kakaotalk</string>
		<string>payco</string>
		<string>lpayapp</string>
		<string>naverbankauth</string>
		<string>naverscheme</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>ansimclickscard</string>
		<string>ansimclickipcollect</string>
		<string>vguardstart</string>
		<string>shinsaborncardansimclick</string>
		<string>haborncardansimclick</string>
		<string>hanaborncardansimclick</string>
		<string>hanawalletmembers</string>
		<string>tswansimclick</string>
		<string>taaborncardansimclick</string>
		<string>chaaborncardansimclick</string>
		<string>laborncardansimclick</string>
		<string>lguthepay-xpay</string>
		<string>ukbanksmartbanknonloginpay</string>
		<string>com.ssg.serviceapp.android.egiftcertificate</string>
		<string>uppay</string>
		<string>nice_payments</string>
		<string>nicepay-auth</string>
		<string>itms-apps</string>
	</array>
</dict>
</plist>
